.Wrapper{
	width: auto;
	max-width: 50%;
	margin: auto;
	top: 50%;
  height: 100%;
  border: 2px solid black;
}
.content{
    border: 2px solid black;
}
.header{
    border: 2px solid black;
}

.subjects{
	background-color: white;
  border: 2px solid black;
  color: black;
  padding: 64px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 16px 9px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.subjects:hover{
  background-color: #555555;
  color: white;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border: 0px;
    border-bottom: solid black 2px;
}
