<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<div class="Wrapper">
		<div class="Logo">
			<img src="../img/logo.jpg" style="width:100px;height:100px; margin: auto;">
		</div>
		<div class="FormContainer">
		<p>
			<div class="Form">
			<form action="/" method="post">
    			<input name="username" type="text" placeholder="Username" />
				</br></br>
    			<input name="password" type="password" placeholder="Password" />
				</br></br>
    		<input value="Sign In" type="submit" />
			</form>
			</p>
			</div>
		</div>
</div>
</body>
</html>
